# General OS Files
.DS_Store
Thumbs.db

# Python-related
__pycache__/
*.py[cod]
*.egg
*.egg-info/
*.eggs/
dist/
build/
*.whl
*.pyo
*.pyd

# Virtual environments
venv/
.env/
.venv/

# Rust-specific
target/
Cargo.lock

# Tools
.idea/
.vscode/
*.iml

# Logs
*.log

samples/